{
  "presets": [
    "env",
    "stage-0",
    "react"
  ],
  "plugins": [
    "transform-runtime",
    "transform-async-to-generator",
    ["babel-plugin-transform-builtin-extend", {
      "globals": [
        "Error",
        "Array"
      ]
    }
    ]
  ],
  "env": {
    "intl": {
      "plugins": [
        ["react-intl", {
          "messagesDir": "./build/messages/"
        }]
      ]
    }
  }
}